
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --yellow-color: #f7b82c;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey: #787887;
  --pre-light-grey: rgba(195, 198, 207, 0.5);
  --dark-grey: #202020;
  --comment-grey-bg: #f1f1f1;
  --white2: #fcfcfd;
  --button1: #AD8749;
  --button2: #DCBB75;
  --heading1-font-size: 25px;
  --heading-font-size: 30px;
  --dashboard-font-size: 50px;
  --paragraph-font-size: 18px;
  --sub_heading: 23px;
  --heading2-font-size: 20px;
  --mobile-heading: 14px;
  --mobile-sub-heading: 12px;
  --mobile-font: 10px;
  /* --font-family: 'Instrument Serif', serif; */
  --font-family: 'Libre Baskerville', serif;
}